
body {
    background-color: #79A5FF;
    border-color: black;

}


.bg-secondary {
    background-color: #8eff4d;
    border-radius: 20px;
    border: 1px solid #ff79a5 !important;
}


.section-title span {
    background-color: #8eff4d;
    z-index: 1;
    border-radius: 20px;
    
}

.border {
    border: 1px solid #ff79a5 !important;
}

div.cat-item {
    background-color: #a5ff79;
    border-radius: 20px;

}

div.card.product-item {
    border-radius: 20px;
    border-radius: 20px;
    
}
div.card-body {
    background-color: #a5ff79;
}

.d-flex {
    justify-content: space-evenly;
}
